/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.page,
.home,
.single-post,
.error404
{
	background-color: black;
	padding: 30px;

	
}

// Front Page configuration ***** START

.page-container,
.about-page-container,
.footer-site-info,
.site-main
{
	padding: 20px;

	 @include desktop {
		margin: 0 auto;
		max-width: 1080px;
		padding: 3% 10%;
		width: 100%;
	 }
}

.page-id-213 //page-about 

{
	
	@include desktop {
	position: relative;
	margin-top: 5rem;
	margin-right: 190px;
	margin-left: 190px;

	&:before,
	&:after {
		color: $font__green_color;
		font-family: 'FontAwesome';
		font-size: 125px;
		line-height: 125px;
		position: absolute;
		top: 0;
		
	}

	&:before {
		left: 0px;
		top: 37%;
		content: "\f10d";
	}

	&:after {
		content: "\f10e";
		top:37%;
		right: 80px;
	}	
}
	
}

// Front Page configuration End
///////////////////////////////////////
///////////////////////////////////////


// About Page configuration ***** START

.about-entry-header {
	padding:5px;
}

.about-entry-content{
	font-family: $font__main;
    font-weight: $font__weight;
	font-style: $font__style;
}

.about-entry-content a {
	color:$font__green_color;
	text-decoration: none;
}

.about-entry-content a:hover {
	color:#090;
}

.about-entry-title {
	margin-top: 48px;
}

// About Page configuration End
///////////////////////////////////////
///////////////////////////////////////


// Content.php and single-post Page configuration ***** START
.single-post,
.home
{

		.show-me-another-container {
			@include desktop {
				display: flex;
			}

		}

		.show-me-another {
		background-color: transparent;
		border: 2px solid #0c0;
		border-radius: 3px;
		color: #0c0;
		font-size: 1rem;
		line-height: 1;
		padding: .75rem 2.25rem;
		@include tablet {
			font-size: 1.25rem;
		}
		@include desktop {
			margin: 0 auto;
			align-items: center;
			justify-content: center;
			text-align: center;

		}
		}

		.show-me-another:hover {
			color:#090;
			border: 2px solid #090;
			text-decoration: none;

		}

		.content-container {
			padding-top: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.entry-article p {
			font-size: 20px;
			margin: 20px 0 25px;
			min-width: 400px;
			@include tablet {
				font-size: 28px;
				font-weight: 300;
				min-width: 550px;
			}
			@include desktop {
				font-size: 40px;
				position: relative;
				margin-top: 5rem;
				margin-right: 190px;
				margin-left: 190px;
				min-width: 650px;

				&:before,
				&:after {
					color: $font__green_color;
					font-family: 'FontAwesome';
					font-size: 125px;
					line-height: 125px;
					position: absolute;
					top: 0;
		
					}

					&:before {
						left: -170px;
						top: 10%;
						content: "\f10d";
					}

					&:after {
						content: "\f10e";
						top:10%;
						right: -170px;
					}	
							}

						}

		.entry-meta {
			display: flex;
			justify-content: baseline;
			align-items: baseline;
			// flex-wrap: wrap;
				
		}


		.entry-title {
			font-size: 20px;
			padding-top: 20px;
			padding-bottom: 40px;
			align-items: baseline;
			font-family: 'Exo';
			font-weight: 300;
			flex-basis: 1;
			@include desktop {
				padding-left: 80px;
			}
		}

		.source
		{
			color: white;
			font-size: 20px;
			align-items: baseline;
			text-decoration: none;
			font-style: italic;
			font-weight:300;
			flex-basis: 1;
		}

		.source a {
			color:$font__green_color;
			text-decoration: none;

		}

		.source a:visited {
			color:$font__green_color;
		}

		.source a:hover
		{
			color:#090;
			text-decoration: none;
		}

}
// Content.php Page configuration End
///////////////////////////////////////
///////////////////////////////////////

// Archive Page configuration ***** START

.archive-container {

		@include desktop {
			position: relative;
			margin-top: 5rem;
			// margin-right: 190px;
			// margin-left: 190px;

			min-width: 700px;
		
			&:before,
			&:after {
				color: $font__green_color;
				font-family: 'FontAwesome';
				font-size: 125px;
				line-height: 125px;
				position: absolute;
				top: 0;
				
			}
		
			&:before {
				left: -180px;
				top: 7%;
				content: "\f10d";
			}
		
			&:after {
				content: "\f10e";
				top:7%;
				right: -150px;
			}	
	
		}
	
	}

.archive-header h1 {
	margin-top: 48px;
}


.post-archives h2,
.category-archives h2,
.tag-archives h2
{
	padding: 10px 0 3px;
	font-size: 25px;
}

.post-archives ul,
.category-archives ul,
.tag-archives ul
{
	list-style-type: none;
	padding: 5px 5px 0px 5px;
	margin:0px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	@include tablet {
		font-size: 20px;
	}
	
}

.post-archives li,
.category-archives li,
.tag-archives li
{
	margin:5px;
	padding: 2px;
	// text-align: left;
}



// Archive Page configuration End
///////////////////////////////////////
///////////////////////////////////////

// TAG/Categories Page configuration ***** START

.archive-page-title{
	border-bottom: 1px dotted #fff;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
}

.archive-entry-content {
	font-size: 1.30rem;
	margin-bottom: 20px;
	margin-top: 20px;
	@include tablet {
		font-size: 1.75rem;
	}
	
}

.archive-entry-meta {
	display:flex;
	justify-content: baseline;
	align-items: baseline;
}

.archive-entry-title {
	font-size: 1.30rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.archive-entry-article {
	border-bottom: 1px dotted #fff;
}

.archive-source a {
	font-size: 20px;
	color:$font__green_color;
	text-decoration: none;

}

.archive-source a:visited {
	color:$font__green_color;
	text-decoration: none;
}

.archive-source a:hover {
	color:#090;
	text-decoration: none;

}

// TAG/Categoris Page configuration End
///////////////////////////////////////
///////////////////////////////////////
// Footer Page configuration ***** START

.number-pagination {
	margin-top: 3rem;
	
}

.footer-main-navigation a,
.footer-copy-right a
{
	color:$font__green_color;
}

.footer-main-navigation a:hover,
.footer-copy-right a:hover
{
	color:#090;
	text-decoration: none;

}


.number-pagination a {
	color:$font__green_color;
	font-weight: 300;
	
}

.number-pagination a:visited {
	color:$font__green_color;
	
}

.number-pagination a:hover {
	color:$font__green_color;
	color:#090;
	text-decoration: none;
	
}

.prev,
.next
{
	font-weight: 300;
}


.page-numbers {
	padding: 0px 4px;
	margin: 4px;

}

.footer-site-info {
	padding:0px;
	@include tablet {
		display: flex;
		justify-content: baseline;
		align-items: baseline;

	}
	@include desktop {
		justify-content: flex-end;
		align-items: baseline;

	}
}

.menu {
	display:flex;
	justify-content: flex-start;
}

.menu-menu-1-container {
margin:0px;
padding:0px;
}

.footer-main-navigation {
	color: $font__green_color;
	list-style-type: none;
	display:flex;
	flex-wrap: wrap;
	display:column;
}

.footer-main-navigation ul {
	list-style-type: none;
	align-items: center;
	padding-top: 70px;
	margin:0;
	
	
}

.footer-main-navigation li {
	margin: .5rem;
	border-right: 1px solid white;
	padding-right: 10px;
	text-align:center;
	
}

.footer-main-navigation ul li:last-of-type {
	border-right: none;
		@include tablet {
			border-right: 1px solid white;
		}
}

.footer-main-navigation a,
.footer-copy-right a
{
	color:$font__green_color;
}

.footer-main-navigation a:hover,
.footer-copy-right a:hover
{
	color:#090;
	text-decoration: none;

}

.footer-copy-right {
	color: white;
	margin-left: 10px;
}


// Footer Page configuration End
///////////////////////////////////////
///////////////////////////////////////

// Submit a Quote Page configuration ***** START

.submit-container {

		@include desktop {
			position: relative;
			margin-top: 5rem;
		
			&:before,
			&:after {
				color: $font__green_color;
				font-family: 'FontAwesome';
				font-size: 125px;
				line-height: 125px;
				position: absolute;
				top: 0;
				
			}
		
			&:before {
				left: -190px;
				top: 0%;
				content: "\f10d";
			}
		
			&:after {
				content: "\f10e";
				top:0%;
				right: -190px;
			}	
	
		}
}

.submit-title {
	font-size: 28px;
	margin-top: 48px;
}
.quote-submission-wrapper label {
	font-size: 15px;
	padding-bottom: 10px;
	font-weight: 300;
}

.quote-submission-wrapper input,
.quote-submission-wrapper textarea

 {
	margin-bottom: 25px;
	border-style: inset;
	border-width: 2px;
	border: 2px solid $font__green_color;
	background-color: transparent;
	height: auto;
	color: white;
}

.quote-submission-wrapper input[type="text"],
.quote-submission-wrapper textarea[type="text"],
.quote-submission-wrapper input[type="url"]
 {
	color: white;
}

.quote-submission-wrapper input[type="submit"] {
	color:$font__green_color;
	font-size: 16px;
	font-weight: 300;
	padding: 10px 35px;
	margin-top: 10px;
}
 

// Submit a Quote Page configuration End

.error-page-content fieldset {
	border:none;
}
.error-page-content input[type="search"] {
	margin-bottom: 25px;
	border-style: inset;
	border-width: 2px;
	border: 2px solid $font__green_color;
	background-color: transparent;
	height: auto;
	width: 250px;
	color: white;
	padding: 5px, 10px;
	font-size: 20px;


}
