/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}
body {
	background-color: black;
}


// Front Page configuration ***** START

.page-container {
	padding: 1px;
}

.leftquote,
.rightquote {

display: none;

}

// Front Page configuration End
///////////////////////////////////////
///////////////////////////////////////


// About Page configuration ***** START

.about-entry-header {
	padding:5px;
}

.about-entry-content{
	font-family: $font__main;
    font-weight: $font__weight;
	font-style: $font__style;
}

.about-entry-content a {
	color:$font__green_color;
	text-decoration: none;
}

.about-entry-content a:hover {
	color:#090;
}

.about-entry-title {
	margin-top: 48px;
}

// About Page configuration End
///////////////////////////////////////
///////////////////////////////////////


// Content.php Page configuration ***** START

.show-me-another {
background-color: transparent;
border: 2px solid #0c0;
border-radius: 3px;
color: #0c0;
font-size: 1rem;
line-height: 1;
padding: .75rem 2.25rem;
}

.show-me-another:hover {
	color:#090;
	border: 2px solid #090;
	text-decoration: none;

}

.content-container {
	padding-top: 30px;
}

.entry-article p {
	font-size: 20px;
	margin: 20px 0 25px;
}

.entry-meta {
	display: flex;
	justify-content: baseline;
	align-items: baseline;
}

.entry-title {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
	align-items: baseline;
}

.source,
.source a
{
	color: $font__green_color;
	font-size: 20px;
	align-items: baseline;
	text-decoration: none;
}
.source:hover,
.source a:hover
{
	color:#090;
	text-decoration: none;
}

// Content.php Page configuration End
///////////////////////////////////////
///////////////////////////////////////

// Archive Page configuration ***** START

.archive-header h1 {
	margin-top: 40px;
}


.post-archives h2,
.category-archives h2,
.tag-archives h2
{
	padding: 10px 0 3px;
	font-size: 25px;
}

.post-archives ul,
.category-archives ul,
.tag-archives ul
{
	list-style-type: none;
	padding: 5px 5px 0px 5px;
	margin:0px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	
}

.post-archives li,
.category-archives li,
.tag-archives li
{
	margin:5px;
	padding: 2px;
	// text-align: left;
}



// Archive Page configuration End
///////////////////////////////////////
///////////////////////////////////////

// TAG/Categories Page configuration ***** START

.archive-page-header 

.archive-page-title{
	border-bottom: 1px dotted #fff;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
}

.archive-entry-content {
	font-size: 1.30rem;
	margin-bottom: 20px;
	margin-top: 20px;
}

.archive-entry-meta {
	display:flex;
	justify-content: baseline;
	align-items: baseline;
}

.archive-entry-title {
	font-size: 1.30rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.archive-entry-article {
	border-bottom: 1px dotted #fff;
}

.archive-source a {
	font-size: 20px;
	color:$font__green_color;
	text-decoration: none;

}

.archive-source a:visited {
	color:$font__green_color;
	text-decoration: none;
}

.archive-source a:hover {
	color:#090;
	text-decoration: none;

}

// TAG/Categoris Page configuration End
///////////////////////////////////////
///////////////////////////////////////
// Footer Page configuration ***** START

.site-footer {
	padding:0px;
}

.menu {
	display:flex;
	justify-content: flex-start;
}

.menu-menu-1-container {
margin:0px;
padding:0px;
}

.footer-main-navigation {
	color: $font__green_color;
	list-style-type: none;
	display:flex;
	flex-wrap: wrap;
}

.footer-main-navigation ul {
	list-style-type: none;
	align-items: center;
	padding-top: 70px;
	margin:0;
	
	
}

.footer-main-navigation li {
	margin: .5rem;
	border-right: 1px solid white;
	padding-right: 10px;
	text-align:center;
	
}

.footer-main-navigation ul li:last-of-type {
	border-right: none;
}

.footer-main-navigation a,
.footer-copy-right a
{
	color:$font__green_color;
}

.footer-main-navigation a:hover,
.footer-copy-right a:hover
{
	color:#090;
	text-decoration: none;

}

.footer-copy-right {
	color: white;
	margin-left: 10px;
}



// .footer-main-navigation {    Make a line under the foort
//     border-bottom-style: solid;
//     border-bottom-color: #fff;
//     border-bottom-width: 2px;
// }
// Footer Page configuration End
///////////////////////////////////////
///////////////////////////////////////