/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}
body {
	background-color: black;
}


// Front Page configuration ***** START

.page-container {
	padding: 20px;
}

.leftquote,
.rightquote {

display: none;

}

// Front Page configuration End
///////////////////////////////////////
///////////////////////////////////////


// About Page configuration ***** START

.about-entry-content{
	font-family: $font__main;
    font-weight: $font__weight;
    font-style: $font__style;
}

.about-entry-content a {
	color:$font__green_color;
	text-decoration: none;
}

.about-entry-content a:hover {
	color:#090;
}

// About Page configuration End
///////////////////////////////////////
///////////////////////////////////////


// Content.php Page configuration ***** START

.content-page-container {

	padding-top: 30px;
}


// Content.php Page configuration End
///////////////////////////////////////
///////////////////////////////////////

// Archive Page configuration ***** START


// Archive Page configuration End
///////////////////////////////////////
///////////////////////////////////////

// Footer Page configuration ***** START

.site-footer {
	padding-left: 20px;
}

.primary-menu menu {
margin:0;
padding:0;
}

.footer-main-navigation {
	color:#0c0;
	list-style-type: none;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.footer-main-navigation ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	padding:0;
	margin:0;
	
}

.footer-main-navigation li {
	margin: 1rem;
	border-right: 1px solid white;
	padding-right: 30px;
}

.footer-main-navigation a,
.footer-copy-right a
{
	color:#0c0;
}

.footer-main-navigation a:hover,
.footer-copy-right a:hover
{
	color:#090;
	text-decoration: none;

}

.footer-copy-right {
	color: white;
	margin-left: 20px;
}



// .footer-main-navigation {    Make a line under the foort
//     border-bottom-style: solid;
//     border-bottom-color: #fff;
//     border-bottom-width: 2px;
// }
// Footer Page configuration End
///////////////////////////////////////
///////////////////////////////////////