// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
$desktop-width: 1080px;
$tablet-width: 620px;
$mobile-width: 480px;

@mixin desktop {
    @media (min-width: $desktop-width) {
      @content;
    }
  }

  @mixin tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  }

  @mixin mobile {
    @media (min-width: $mobile-width) {
      @content;
    }
  }
  